<?xml version="1.0" encoding="utf-8" ?>
<widget id="ru.fax1ty.rpcmp" version="0.1.2" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>RPCMP</name>
  <description>Рамен!</description>
  <author email="fax1ty.ru@gmail.com">fax1ty</author>
  <preference name="EnableDeveloperConsole" value="true" />
  <preference name="DisallowOverscroll" value="true" />
  <preference name="Orientation" value="portrait" />
  <preference name="UseStrictSSL" value="false" />

  <plugin name="tabris-plugin-maps" spec="https://github.com/fax1ty/tabris-plugin-maps.git">
    <variable name="ANDROID_API_KEY" value="$ANDROID_API_KEY" /> 
  </plugin>
  <plugin name="cordova-plugin-vibration" spec="https://github.com/maxappsmobile/cordova-plugin-vibration.git" />
  <plugin name="cordova-plugin-native-geolocation" spec="https://github.com/fax1ty/cordova-plugin-native-geolocation.git" />
  <!-- <plugin name="tabris-plugin-firebase" spec="https://github.com/eclipsesource/tabris-plugin-firebase.git" /> -->
  <plugin name="cordova-plugin-datepicker" spec="https://github.com/fax1ty/cordova-plugin-datepicker.git" />
  <plugin name="cordova-gallery-api" spec="https://github.com/Collaborne/cordova-gallery-api.git" />

  <!-- Соц.вход -->
  <plugin name="cordova-vk-auth" spec="https://github.com/iRapoo/cordova-vk-auth.git">
    <variable name="VK_APP_ID" value="$VK_APP_ID" />
  </plugin>
  <plugin name="cordova-plugin-googleplus" source="https://github.com/EddyVerbruggen/cordova-plugin-googleplus.git">
    <variable name="PLAY_SERVICES_VERSION" value="17.0.0" />
    <variable name="REVERSED_CLIENT_ID" value="$REVERSED_CLIENT_ID" />
  </plugin>

  <platform name="android">
    <edit-config file="app/src/main/AndroidManifest.xml" target="/manifest/application" mode="merge">
      <application android:usesCleartextTraffic="true" />
    </edit-config>

    <icon src="res/icon/android/ldpi.png" density="ldpi" />
    <icon src="res/icon/android/mdpi.png" density="mdpi" />
    <icon src="res/icon/android/hdpi.png" density="hdpi" />
    <icon src="res/icon/android/xhdpi.png" density="xhdpi" />
    <icon src="res/icon/android/xxhdpi.png" density="xxhdpi" />
    <icon src="res/icon/android/xxxhdpi.png" density="xxxhdpi" />
  </platform>
</widget>
