<?xml version="1.0" encoding="utf-8" ?>
<widget id="ru.fax1ty.rpcmp" version="0.1.3" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>RPCMP</name>
  <description>Рамен!</description>
  <author email="fax1ty.ru@gmail.com">fax1ty</author>
  <preference name="EnableDeveloperConsole" value="true" />
  <preference name="DisallowOverscroll" value="true" />
  <preference name="Orientation" value="portrait" />
  <preference name="UseStrictSSL" value="false" />

  <plugin name="tabris-plugin-maps" spec="https://github.com/fax1ty/tabris-plugin-maps.git">
    <variable name="ANDROID_API_KEY" value="$ANDROID_API_KEY" />
  </plugin>
  <plugin name="cordova-plugin-vibration" spec="https://github.com/maxappsmobile/cordova-plugin-vibration.git" />
  <plugin name="cordova-plugin-native-geolocation" spec="https://github.com/fax1ty/cordova-plugin-native-geolocation.git" />
  <!-- <plugin name="tabris-plugin-firebase" spec="https://github.com/eclipsesource/tabris-plugin-firebase.git" /> -->
  <plugin name="cordova-plugin-datepicker" spec="https://github.com/fax1ty/cordova-plugin-datepicker.git" />
  <plugin name="cordova-gallery-api" spec="https://github.com/Collaborne/cordova-gallery-api.git" />

  <!-- Соц.вход -->
  <plugin name="cordova-vk-auth" spec="https://github.com/iRapoo/cordova-vk-auth.git">
    <variable name="VK_APP_ID" value="$VK_APP_ID" />
  </plugin>
  <plugin name="cordova-plugin-googleplus" source="https://github.com/EddyVerbruggen/cordova-plugin-googleplus.git">
    <variable name="PLAY_SERVICES_VERSION" value="17.0.0" />
    <variable name="REVERSED_CLIENT_ID" value="$REVERSED_CLIENT_ID" />
  </plugin>

  <!-- <plugin name="cordova-plugin-firebase-crashlytics" source="https://github.com/ReallySmallSoftware/cordova-plugin-firebase-crashlytics.git">
    <variable name="ANDROID_FIREBASE_CORE_VERSION" value="17.0.0" />
  </plugin>

  <plugin name="cordova-plugin-firebase-performance" source="https://github.com/adailtonribeiro/cordova-plugin-firebase-performance.git">
    <variable name="FIREBASE_PERF_VERSION" value="17.0.0" />
  </plugin> -->

  <plugin name="cordova-plugin-firebasex" source="https://github.com/dpa99c/cordova-plugin-firebasex.git">
    <variable name="ANDROID_PLAY_SERVICES_TAGMANAGER_VERSION" value="17.0.0" />
    <variable name="ANDROID_FIREBASE_ANALYTICS_VERSION" value="17.0.0" />
    <variable name="ANDROID_FIREBASE_MESSAGING_VERSION" value="19.0.0" />
    <variable name="ANDROID_FIREBASE_CONFIG_VERSION" value="18.0.0" />
    <variable name="ANDROID_FIREBASE_PERF_VERSION" value="18.0.0" />
    <variable name="ANDROID_FIREBASE_AUTH_VERSION" value="18.0.0" />
    <variable name="ANDROID_CRASHLYTICS_VERSION" value="2.10.1" />
    <variable name="ANDROID_CRASHLYTICS_NDK_VERSION" value="2.1.0" />

    <variable name="FIREBASE_ANALYTICS_COLLECTION_ENABLED" value="false" />
    <variable name="FIREBASE_PERFORMANCE_COLLECTION_ENABLED" value="true" />
    <variable name="FIREBASE_CRASHLYTICS_COLLECTION_ENABLED" value="true" />
  </plugin>

  <platform name="android">
    <hook type="before_build" src="./before_build_hook.js" />

    <edit-config file="app/src/main/AndroidManifest.xml" target="/manifest/application" mode="merge">
      <application android:usesCleartextTraffic="true" />
    </edit-config>

    <!-- <edit-config file="app/src/main/res/values/strings.xml" target="/resources" mode="merge">
      <string name="default_web_client_id" translatable="false">$FIREBASE_WEB_CLIENT_ID</string>
      <string name="firebase_database_url" translatable="false">$FIREBASE_DATABASE_URL</string>
      <string name="gcm_defaultSenderId" translatable="false">$FIREBASE_GCM_SENDER_ID</string>
      <string name="google_api_key" translatable="false">$FIREBASE_GOOGLE_API_KEY</string>
      <string name="google_app_id" translatable="false">$FIREBASE_GOOGLE_APP_ID</string>
      <string name="google_crash_reporting_api_key" translatable="false">$FIREBASE_GOOGLE_CRASH_API_KEY</string>
      <string name="google_storage_bucket" translatable="false">$FIREBASE_GOOGLE_STORAGE_BUCKET</string>
      <string name="project_id" translatable="false">$FIREBASE_PROJECT_ID</string>
    </edit-config> -->

    <icon src="res/icon/android/ldpi.png" density="ldpi" />
    <icon src="res/icon/android/mdpi.png" density="mdpi" />
    <icon src="res/icon/android/hdpi.png" density="hdpi" />
    <icon src="res/icon/android/xhdpi.png" density="xhdpi" />
    <icon src="res/icon/android/xxhdpi.png" density="xxhdpi" />
    <icon src="res/icon/android/xxxhdpi.png" density="xxxhdpi" />
  </platform>
</widget>